body {
  background: url('./background.jpg') no-repeat center center fixed;
  background-size: cover;
}


.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  h1 {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 40px;
    font-weight: normal;
    color: white;
    text-shadow: 1px 1px 10px black;

    span {
      font-size: 18px;
      color: #222;
      text-shadow: none;
      font-weight: normal;
    }
  }

  .widget {
    border: 1px solid white;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px) saturate(100%) contrast(45%) brightness(130%);
    box-shadow: 0 0 16px 0 rgba(0, 0, 0, 0.2);
    width: 300px;

    .title {
      font-size: 32px;
      font-weight: 100;
      color: white;
      text-shadow: 1px 1px 10px black;
    }

    th {
      text-align: right;
    }
  }
}
