.header {
  display: flex;
  align-items: center;

  .backBtn {
    margin-right: 10px;
  }

  .title {
    flex: 1
  }

  .intervalSelect {
    text-shadow: none;
  }
}

.details {
  padding: 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .chartCard {
    margin: 10px;
    width: 100%;
  }
}

[data-tolltip-table] {
  th {
    text-align: left;
  }
}
