.dashboard {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;

  h1 {
    position: absolute;
    left: 20px;
    top: 10px;
    font-size: 40px;
    font-weight: normal;
    color: white;
    text-shadow: 1px 1px 10px black;
  }
}
